<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - Freifunk Darmstadt</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ site.description }}">

<script src="{{ "/js/jquery-1.12.3.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.offcanvas.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/TweenMax.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/freifunkdots.js" | prepend: site.baseurl }}"></script>

<link rel="icon" type="image/png" href="{{ "/images/favicon.png" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/css/bootstrap.offcanvas.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}" />
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
